   <meta charset="UTF-8">
   <title>Categoria</title>
</head>
<body>
<form method="post">
    {% csrf_token %}

<h1> Categorias </h1>

   <label> Nombre: </label>
   <input type="text" name="nombre" >
   <input type="submit" value="aceptar" >
</form>

<ul>
{% for item in lista_categoria %}
   <li>{{ item.nombre }}</li>
{% endfor %}
</ul>

</body>
</html>
