<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>TIPO</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
   <h1> Marca </h1>

    <label>Tipo</label>
   <select name="tipo" >
       {% for item in lista_tipo %}
       <option value="{{item.id}}" > {{item.nombre}} </option>
       {% endfor %}
   </select>
   <label>Marca</label>
   <input type="text" name="nombre" >
   <input type="submit" value="aceptar" >
</form>

<label>Listado</label>
<table>
   <thead>
   <style>
        table, th, td
        {
          border: 3px solid blue;
          border-collapse: collapse;
        }
    </style>


   <tr>
   <td>Marca</td> <td> Tipo </td>
   </tr>
   </thead>
   <tbody>
{% for item in lista_marca %}
   <tr>
       <td>
       {{ item.nombre }}
       </td>
       <td>
       {{ item.tipo.nombre }}
       </td>


   </tr>
{% endfor %}
   </tbody>
</table>



</body>
</html>
