<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>PRODUCTO</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
   <h1> PRODUCTO </h1>

       <label>Nombre: </label>
   <input type="text" name="nombre" >
    <label>Categoria:</label>
   <select name="Categoria" >
       {% for item in lista_categoria %}
       <option value="{{item.id}}" > {{item.nombre}} </option>
       {% endfor %}
   </select>

    <input type="submit" value="aceptar" >
</form>

<label>Listado:</label>
<table>
   <thead>
      <style>
        table, th, td
        {
          border: 3px solid blue;
          border-collapse: collapse;
        }
    </style>

   <tr>
   <td>Producto</td> <td> Categoria </td>
   </tr>
   </thead>
   <tbody>
{% for item in lista_Producto %}
   <tr>
       <td>
       {{ item.nombre }}
       </td>
       <td>
       {{ item.categoria.nombre }}
       </td>



   </tr>
{% endfor %}
   </tbody>
</table>



</body>
</html>
