<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>TIPO</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
   <h1> Tipos </h1>
   <select name="categoria" >
       {% for item in lista_categoria %}
       <option value="{{item.id}}" > {{item.nombre}} </option>
       {% endfor %}
   </select>
   <label>tipo</label>
   <input type="text" name="nombre" >
   <input type="submit" value="aceptar" >
</form>

<table>
   <thead>
   <tr>
   <td>Tipo</td> <td> Categoria </td>
   </tr>
   </thead>
   <tbody>
{% for item in lista_tipo %}
   <tr>
       <td>
       {{ item.nombre }}
       </td>
       <td>
       {{ item.categoria.nombre }}
       </td>


   </tr>
{% endfor %}
   </tbody>
</table>



</body>
</html>
